<header class="text-gray-600 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
      <a routerLink="/menu" class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
        <svg xmlns="http://www.w3.org/2000/svg" stroke="currentColor" fill="none" stroke-linejoin="round" stroke-width="1" class="w-10 h-10 text-white p-1 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
          <path d="M0 0h24v24H0V0z" fill="none"/><path d="M12 2C8.43 2 5.23 3.54 3.01 6L12 22l8.99-16C18.78 3.55 15.57 2 12 2zm0 15.92L5.51 6.36C7.32 4.85 9.62 4 12 4s4.68.85 6.49 2.36L12 17.92zM9 5.5c-.83 0-1.5.67-1.5 1.5S8.17 8.5 9 8.5s1.5-.67 1.5-1.5S9.82 5.5 9 5.5zm1.5 7.5c0 .83.67 1.5 1.5 1.5.82 0 1.5-.67 1.5-1.5s-.68-1.5-1.5-1.5-1.5.67-1.5 1.5z"/></svg>
        <span class="ml-3 text-xl">Pizzeria</span>
      </a>
      <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
        <a routerLink="/menu" routerLinkActive="active" class="mr-5 hover:text-gray-900">Menu</a>
        <a routerLink="/cart-page" routerLinkActive="" class="mr-5 hover:text-gray-900">Cart</a>
      </nav>
    </div>
  </header>
